.header{
    position: relative;
    top: 220px;
    left: 640px;
    max-width: fit-content;
    background-color: white;
}
.body{
    background-color: blue;
}
.buttons{
    align-items: center;
    width: auto;
}